<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>

    
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/elegant-icons.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>

    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">


   

</head>

<body>
	
	<div id="page" class="theia-exception">
		
	<header class="header_in">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-12">
					<a href="#menu" class="btn_mobile">
						<div class="hamburger hamburger--spin" id="hamburger">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</a>
					<div id="logo">

						<a href="index.html">
							<img src="img/logo_sticky.svg" width="165" height="35" alt="" class="logo_sticky">
						</a>
					</div>
<a href="#0" class="side_panel btn_search_mobile"><img src="img/icon/search.svg">
</a>
<a href="" class="btn_search_mobile"><img src="img/icon/token.svg">
</a>
<a href="login.html" class="btn_search_mobile"><img src="img/icon/user.svg">
</a>
				</div>
				<div class="col-lg-7 col-12">
					

					<div id="results">
		 
					    
						<div class="row no-gutters custom-search-input-2 inner">
							<div class="col-lg-4">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Location Search">
									
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Search Sectors">
									
								</div>
							</div>
							
							<div class="col-lg-1">
								<input type="submit" value="Search">
							</div>
							<div class="col-lg-3 text-center">
								<div class="token">
								<a href=""><img src="img/token.svg">Token</a>
							</div>
							</div>
					
			   
		   </div>
		   
	   </div>


	   
	 
				</div>
				<div class="col-lg-3 col-12">

					<ul id="top_menu">

						<li><a href="signin">Sign In</a></li>
						<li><a href="register" class="btn_1">Sign Up</a></li>
						<li><a href="" class="right-nav"><i class="fa fa-bars"></i></a></li>
						
					</ul>
					

					
					
				</div>
			</div>
			
		</div>
		
		<div class="layer"></div>
		<div id="search_mobile">
			<a href="#" class="side_panel"><i class="icon_close"></i></a>
			<div class="custom-search-input-2">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Location Search">
					
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Search Sectors">
					
				</div>
				
				<input type="submit" value="Serach">
			</div>
		</div>
		
	</header>
	
	<header class="header_in">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
					
<a href="" class="location-bar"><i class="icon_pin_alt"></i>
Select your location</a>

				</div>
				<div class="col-lg-9 ">
					
					
					<nav id="menu" class="main-menu">
		    <ul>
		        <li><span><a href="#0">Help</a></span>
		           
		        </li>
		        <li><span><a href="#0">Banks</a></span>
		          
		        </li>
		        <li><span><a href="#0">Hospitals</a></span>
		            
		        </li>
		        <li><span><a href="#0">Govt : Institutions</a></span>
					           
					        </li>
					        <li><span><a href="#0">Civil Supply</a></span>
					           
					        </li>
					        <li><span><a href="#0">Internet Cafe</a></span>
					           
					        </li>
					        <li><span><a href="#0">Akshaya</a></span>
					           
					        </li>

		        
						
						
						
					
		    </ul>

		</nav>
				</div>
			</div>
			
		</div>
		
		
		
		
	</header>
	
	<main>
		
		<div class="container-fluid margin_60_35">

<div class="row">
<img src="img/banner.jpg" class="img-fluid" width="100%">
</div>

			<div class="row">
				<aside class="col-lg-2 p-0" id="sidebar">
<div class="location-search">
					<a href="">
						Please select your location for better experience
					</a>
				</div>
					<div id="filters_col">
						<a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type">
								<h6>Categories</h6>
								<ul>
									<li>
										<label class="container_check">Banks 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Hospitals 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Govt:Inst 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Internet Help 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Others 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
                                <h6>Working Time</h6>
                               <ul>
									<li>
										<label class="container_check">24 Hrs 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">12 Hrs 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									
								</ul>
								
                            </div>
							<div class="filter_type">
								<h6>Amenities</h6>
								<ul>
									<li>
										<label class="container_check">Parking 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">AC 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Wifi 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									
								</ul>
							</div>
							<div class="filter_type">
								<h6>Payment</h6>
								<ul>
									<li>
										<label class="container_check">Card 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Mobile Banking 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Cash 
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</li>
									
								</ul>
							</div>
						</div>
						
					</div>
					
				</aside>
				

				<div class="col-lg-10">
					


<div class="row mt-50">
				<div class="col-lg-3 col-md-6">
					<div class="box_topic" href="#0">
						<div class="feature-icon text-center">
                            <img src="img/icon/bank.svg">
                        </div>
						<h3>Banks</h3>
						<p><a href="">Co-Operative</a></p>
						<p><a href="">Nationalized</a></p>
						<p><a href="">Finance</a></p>
						<p><a href="">Others</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="box_topic" href="#0">
						<div class="feature-icon text-center">
                            <img src="img/icon/hospital.svg">
                        </div>
						<h3>Hospital</h3>
						<p><a href="">Govt : Hospital</a></p>
						<p><a href="">Govt : Health center</a></p>
						<p><a href="">Private Hospital</a></p>
						<p><a href="">Others</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="box_topic" href="#0">
						<div class="feature-icon text-center">
                            <img src="img/icon/govt.svg">
                        </div>
						<h3>Govt:Inst</h3>
						<p><a href="">Village Office</a></p>
						<p><a href="">Panchayath</a></p>
						<p><a href="">Corporation</a></p>
						<p><a href="">Others</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="box_topic" href="#0">
						<div class="feature-icon text-center">
                            <img src="img/icon/civil.svg">
                        </div>
						<h3>Civil Supply</h3>
						<p><a href="">Ration Shop</a></p>
						<p><a href="">Supplyco</a></p>
						<p><a href="">CV 3</a></p>
						<p><a href="">Others</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="box_topic" href="#0">
						<div class="feature-icon text-center">
                            <img src="img/icon/internet.svg">
                        </div>
						<h3>Internet Help</h3>
						<p><a href="">Akshaya</a></p>
						<p><a href="">Janaseva</a></p>
						<p><a href="">Internet Cafe</a></p>
						<p><a href="">Others</a></p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="box_topic" href="#0">
						<div class="feature-icon text-center">
                            <img src="img/icon/others.svg">
                        </div>
						<h3>Others</h3>
						<p><a href="">Tourism Sectors</a></p>
						<p><a href="">Shopping</a></p>
						<p><a href="">Work Shop</a></p>
						<p><a href="">Others</a></p>
					</div>
				</div>
			</div>


					
				</div>
				
			</div>		
		</div>
		
		
	</main>
	
	
	<footer class="plus_border">
		<div class="container-fluid margin_60_35">
			
			<div class="row">
				
				<div class="col-lg-12">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
						<li><span>© 2020 Token</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
	</div>
	
	

	
	<div id="toTop"><i class="fa fa-angle-up"></i>
</div>
	
	
    <script src="js/scripts.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/validate.js"></script>
	<script src="js/markerclusterer.js"></script>
	<script src="js/map.js"></script>
	<script src="js/infobox.js"></script>

	
  
</body>
</html>